.boxManualRojo{
    background-color: #941614c0;
}

.boxManualPiel{
    background-color: #ffc8a1e5;
}

.boxManualNaranjado{
    background-color: #e8631cc9;
}

.boxManualClaroNaran{
    background-color: #f3920085;
}

.boxManualGris{
    background-color: #9d9d9ce3;
}

.boxManualBeige{
    background-color: #ded6c0;
}